doctype html
html(lang="ru")
    head
        title Landing Page
    body
        h1 Migas
        p Migas letterpress craft beer umami, ethical meggings sriracha 90's hella put a bird on it locavore keffiyeh chia. Blog whatever bushwick, sriracha green juice scenester 90's VHS brooklyn skateboard brunch yr. Mustache intelligentsia marfa paleo irony, kogi leggings cornhole crucifix before they sold out sriracha. Ugh leggings banh mi fixie beard fap. Waistcoat gochujang bicycle rights marfa, tilde chartreuse austin thundercats small batch viral. Dreamcatcher lomo squid, salvia offal cray deep v cred semiotics scenester chicharrones bushwick gochujang. Leggings selfies biodiesel seitan poutine microdosing, quinoa shabby chic vegan post-ironic.